#hero-detail {
  border: 5px solid red;
}

.a1 {
  color: red;
}

.a2 {
  background-color: green;
}

.a3 {
  font-size: 35px;
}

.a4 {
  border: 5px solid palegreen;
}

.ngClass-section h3 {
  margin-top: 5px;
  margin-bottom: 0px
}

.attribute-binding-table td {
  border: 1px solid black;
}

.attribute-binding-table {
  border: 2px solid black;
  border-spacing: 5px;
  margin: 10px 10px;
}
