body {
  background-color: #000;
}

span > a {
  text-decoration: none;
  margin-left: 25px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
}

span > a:hover {
  color: red;
}

.navbar-section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.active {
  font-size: 26px;
  color: gold;
}